@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Estiliza el scroll del menú */
.react-select__menu-list {
  scrollbar-width: thin;
  scrollbar-color: #fb923c rgba(255,255,255,0.1);
}

/* Para navegadores Webkit (Chrome, Edge, Safari) */
.react-select__menu-list::-webkit-scrollbar {
  width: 8px;
}

.react-select__menu-list::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.05);
}

.react-select__menu-list::-webkit-scrollbar-thumb {
  background-color: #fb923c;
  border-radius: 4px;
}

body {
  font-family: 'Inter', sans-serif;
}
.orbit-sphere {
  position: absolute;
  top: 45%;
  left: 40%;
  width: 12px;
  height: 15px;
  border-radius: 9999px;
  transform-origin: center center;
}


.sphere1 {
  animation: orbit1 4s linear infinite;
  background: #FCD116;

}
.sphere2 {
  animation: orbit2 6s linear infinite;
  background: #0038A8;

}
.sphere3 {
  animation: orbit3 8s linear infinite;
  background: #CE1126;

}

@keyframes orbit1 {
  0%   { transform: rotate(0deg) translateX(60px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(60px) rotate(-360deg); }
}
@keyframes orbit2 {
  0%   { transform: rotate(0deg) translateX(60px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(60px) rotate(-360deg); }
}
@keyframes orbit3 {
  0%   { transform: rotate(0deg) translateX(60px) rotate(0deg); }
  100% { transform: rotate(360deg) translateX(60px) rotate(-360deg); }
}
